= f.input :name
= f.input :student_id
= f.input :email
= f.label 'Paid'
= f.input :paid, as: :boolean, label: 'Yes'
= f.input :identity_number
= f.input :contact_number
= f.input :course
= f.input :course_intake
= f.input :emergency_contact
= f.input :emergency_number

= f.submit
